$black:#000000 ;
$black1:#0a0a0a;
$blackbg:#252525;
$darkgrey:#545454;
$darkgrey1:#858585;
$darkgrey2:#777777;
$darkgrey3:#424242;
$lightgrey:#d2d2d2;

$red1:#ff0000;
$darkred:#f52341;
$red2:#e33434;
$orange:#f1782d;
$darkorange:#ef6048;
$white:#ffffff;
$pink :#fe3174;
$body_bg:#eeeeee;
$lightgreen:#15c8bc;

$grey: #717580;
$white: #ffffff;
$blue: #1875d2;
$light-grey: #e5e9f0;
$red: #fd1f58;
$blue2: #1975d2;
$light-blue: #90b9d1;
$lighter-grey: #edf2f7;
$yellow: #fcd48f;
$darkgrey4: #282828;
